<div>
  <%= link_to 'New task', 'tasks/new'%>
  <table style="border: 1px">
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Importance</th>
      <th>Expiry</th>
      <th>Update task</th>
      <th>Delete task</th>
    </tr>
  <% @tasks.each do |task| %>
      <div>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.description %></td>
          <td><%= task.importance %></td>
          <td><%= task.expiry %></td>
          <td><%= link_to 'update task', edit_task_path(id: task.id)%></td>
          <td><%= link_to 'delete task', delete_task_path(id: task.id), method: :delete %></td>
        </tr>
      </div>
  <% end %>
  </table>
</div>