<div>

  <%= link_to 'New task', 'tasks/new'%>

  <table>
    <tr>
      <th><%= flash[:task_loc] %></th>
      <th><%= flash[:desk_loc] %></th>
      <th><%= flash[:imp_loc] %></th>
      <th><%= flash[:exp_loc] %></th>
      <th><%= flash[:upd_loc] %></th>
      <th><%= flash[:del_loc] %></th>
      <th><%= flash[:done_loc] %></th>
    </tr>
  <% @tasks.each do |task| %>
      <div>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.description %></td>
          <td><%= task.importance %></td>
          <td><%= task.expiry %></td>
          <td><%= link_to 'update task', edit_task_path(id: task.id)%></td>
          <td><%= link_to 'delete task', delete_task_path(id: task.id), method: :delete %></td>
          <td><%= task.is_done %></td>
        </tr>
      </div>
  <% end %>
  </table>
</div>